<section>
    <div class="container">
        <table class="table mt-5">
            <thead>

                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                </tr>

            </thead>
            <tbody>
                {{#each cartItems}}
                <tr>

                    <td><img style="width:10rem;height:auto ;" src="/product-images/{{this.item}}.jpg" alt="" srcset="">
                    </td>
                    <td>{{this.products.Product}}</td>

                    <td>
                        <button  onclick="changeQuantity('{{this._id}}','{{this.products._id}}',-1)"
                            class="cart-item-count mr-3 bg-warning">-</button> <span id='{{this.products._id}}'> {{this.quantity}} </span><button
                            onclick="changeQuantity('{{this._id}}','{{this.products._id}}',1)"
                            class="bg-warning mr-3 cart-item-count">+</button>
                    </td>
                    <td>
                        <a href="" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr>
        <h4>Total Cost: Rs 350000</h4>
        <a href="/checkout" class="btn btn-success">Check Out</a>
    </div>
</section>

<script>
    function changeQuantity(cartId, proId, count) {
        let quantity=parseInt(document.getElementById(proId).innerHTML)
        let count=parseInt(count)
        $.ajax({
            url: '/count-change',
            data: {
                cart: cartId,
                product: proId,
                count: count,
                quantity:quantity
            },
            method: 'post',
            success: (response) => {
                if(response.removedProduct){
                    alert('Product removed from cart')
                    location.reload()
                }else{
                    document.getElementById(proId).innerHTML=quantity+count
                }
        })
    }
</script>