<section>
    <div class="text-center">
        <h1>Products</h1>
    </div>
        <div class="container">
            <div class="row">
                {{#each products}}
                <div class="col-md-4 ml-4 mt-5" style="height: 28rem;"  >
                    <div class="card" style="width: 18rem;">
                        <img src="/product-images/{{this._id}}.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{this.Product}}</h5>
                            <p class="card-text text-center">{{this.Description}}</p>
                            <h3 class="text-center">Rs {{this.Price}}</h3>
                            <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add To cart</button>
                           
                        </div>
                    </div>
                </div>
                {{/each}}
             
            </div>
        </div>
    </section>